{% load base_tags %}
		<!-- Left side column. contains the logo and sidebar -->
		<aside class="main-sidebar">
			<!-- sidebar-->
			<section class="sidebar">

				<div class="user-profile">
					<div class="ulogo">
						<a href="index.html">
							<!-- logo for regular state and mobile devices -->
							<div class="d-flex align-items-center justify-content-center">
								<img src="../images/logo-dark.png" alt="">
								<h3><b>Sunny</b> Admin</h3>
							</div>
						</a>
					</div>
				</div>

				<!-- sidebar menu-->
				<ul class="sidebar-menu" data-widget="tree">

					<li>
						<a href="{% url "config:config" %}">
							<i data-feather="pie-chart"></i>
							<span>داشبورد</span>
						</a>
					</li>

					<li class="treeview">
						<a href="#">
							<i data-feather="message-circle"></i>
							<span>انبار</span>
							<span class="pull-right-container">
								<i class="fa fa-angle-right pull-right"></i>
							</span>
						</a>
						<ul class="treeview-menu">
							<li><a href="{% url "product:internal" %}"><i class="ti-more"></i>انبار قله های داخلی</a></li>
							<li><a href="{% url "product:exportal" %}"><i class="ti-more"></i>انبار قله های خارجی</a></li>
							<li><a href="{% url "product:line_list" %}"><i class="ti-more"></i>لاین شده در معدن</a></li>
							<li><a href="{% url "product:store_internal" %}"><i class="ti-more"></i>افزودن محصول داخلی</a></li>
							<li><a href="{% url "product:store_exportal" %}"><i class="ti-more"></i>افزودن محصول خارجی</a></li>
						</ul>
					</li>
              {%  nav %}
					  <li class="treeview">
						<a href="#">
							<i data-feather="server"></i>
							<span>مشتریان VIP</span>
							<span class="pull-right-container">
								<i class="fa fa-angle-right pull-right"></i>
							</span>
						</a>
						<ul class="treeview-menu">
							<li><a href="{% url "account:special_user_list" %}"><i class="ti-more"></i>لیست مشتریان VIP</a></li>
							<li><a href="{% url "account:create_special_user" %}"><i class="ti-more"></i>افزودن مشتری VIP</a></li>
						</ul>
					</li>

					<li class="treeview">
						<a href="#">
							<i data-feather="mail"></i> <span>لیست مشتریان احتمالی</span>
							<span class="pull-right-container">
								<i class="fa fa-angle-right pull-right"></i>
							</span>
						</a>
						<ul class="treeview-menu">
							<li><a href="{% url "account:user_list" %}"><i class="ti-more"></i>مشتریان احتمالی</a></li>
							<li><a href="{% url "account:patine_user" %}"><i class="ti-more"></i>مشتریان راغب</a></li>
						</ul>
					</li>
					<li class="treeview">
						<a href="#">
							<i data-feather="mail"></i> <span>پیام ها</span>
							<span class="pull-right-container">
								<i class="fa fa-angle-right pull-right"></i>
							</span>
						</a>
						<ul class="treeview-menu">
							<li><a href="{% url "config:send_email" %}"><i class="ti-more"></i>ارسال پیام</a></li>
							<li><a href="{% url "config:email_list" %}"><i class="ti-more"></i>لیست پیام های ارسال شده</a></li>
						</ul>
					</li>

                                        <li>
						<a href="{% url "account:buyer_list" %}">
							<i data-feather="lock"></i>
							<span>خریداران</span>
						</a>
					</li>




                                     <li>
                                          <a href="updates.html"><i class="ti-more"></i>اطلاعات بروزرسانی شده</a>
                                     </li>








					<li class="treeview">
						<a href="#">
							<i data-feather="edit-2"></i>
							<span>کاربران پنل ادمین</span>
							<span class="pull-right-container">
								<i class="fa fa-angle-right pull-right"></i>
							</span>
						</a>
						<ul class="treeview-menu">
							<li><a href="{% url "account:admin_list" %}"><i class="ti-more"></i>کاربران ادمین</a></li>
							<li><a href="admin-user - activity.html"><i class="ti-more"></i>فعالیت ادمین ها</a></li>
							<li><a href="{% url "account:create_admin" %}"><i class="ti-more"></i>افزودن ادمین</a></li>
						</ul>
					</li>
						<li class="treeview">
						<a href="#">
							<i data-feather="edit-2"></i>
							<span>کلمات ممنوعه</span>
							<span class="pull-right-container">
								<i class="fa fa-angle-right pull-right"></i>
							</span>
						</a>
						<ul class="treeview-menu">
							<li><a href="{% url "demand:forbiden_list" %}"><i class="ti-more"></i>لیست کلمات ممنوعه</a></li>
							<li><a href="{% url "demand:forbiden_create" %}"><i class="ti-more"></i>افزودن کلمه</a></li>
						</ul>
					</li>
							<li class="treeview">
						<a href="#">
							<i data-feather="edit-2"></i>
							<span>لیست درخواست ها</span>
							<span class="pull-right-container">
								<i class="fa fa-angle-right pull-right"></i>
							</span>
						</a>
						<ul class="treeview-menu">
							<li><a href="{% url "demand:nemoneh" %}"><i class="ti-more"></i>درخواست نمونه</a></li>
							<li><a href="{% url "demand:visit" %}"><i class="ti-more"></i>درخواست بازدید</a></li>
							<li><a href="{% url "demand:hold" %}"><i class="ti-more"></i>درخواست Hold</a></li>
						</ul>
					</li>


					<li>
						<a href="auth_login.html">
							<i data-feather="lock"></i>
							<span>خروج</span>
						</a>
					</li>

				</ul>
			</section>

			<div class="sidebar-footer">
				<!-- item-->
				<a href="javascript:void(0)" class="link" data-toggle="tooltip" title="" data-original-title="تنظیمات"
					aria-describedby="tooltip92529"><i class="ti-settings"></i></a>
				<!-- item-->
				<a href="mailbox_inbox.html" class="link" data-toggle="tooltip" title="" data-original-title="ایمیل"><i
						class="ti-email"></i></a>
				<!-- item-->
				<a href="javascript:void(0)" class="link" data-toggle="tooltip" title="" data-original-title="خروج"><i
						class="ti-lock"></i></a>
			</div>
		</aside>